.main_div {
  padding-top: 18.669vh;
  width: 100%;
  height: 100%;
}
.sdiv {
  max-width: 50vw;
  margin: 0 auto;
}
.head {
  margin-bottom: 40px;
  font-size: 0.972vw;
  line-height: 2.5;
  text-transform: uppercase;
  font-family: Sailec-Medium, Arial, sans-serif;
}
.para {
  font-size: 1.3888vw;
  line-height: 1.8;
  font-weight: 400;
  font-family: Sailec, Arial, sans-serif;
}
.txt_div {
  max-width: 54.16vw;
}
.sec {
  padding: 90px 0 55px;
}
.sec h6 {
  font-size: 0.972vw;
  line-height: 2.5;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: Sailec, Arial, sans-serif;
}
.sec ul li {
  display: inline-block;
  font-size: 0.972vw;
  line-height: 2.5;
  margin-right: 20px;
}
.sec1 {
  cursor: pointer;
  padding-bottom: 18.669vh;
}
.sec1 span {
  display: inline-block;
  margin-right: 24px;
}
.txt1 {
  font-size: 1.25em;
  white-space: nowrap;
}
@media (max-width: 1140px) {
  .sdiv {
    padding: 0 8.6vw;
    max-width: 100vw;
  }
  .head {
    font-size: 0.875em;
  }
  .para {
    font-size: 1.125em;
  }
  .sec h6 {
    font-size: 0.875em;
  }
  .sec ul li {
    font-size: 0.875em;
  }
}
@media (max-width: 800px) {
  .main_div {
    padding-top: 80px;
  }
  .txt_div {
    max-width: 100vw;
  }
  .sec {
    padding: 45px 0 30px;
  }
  .sec1{
    padding-bottom: 80px;
  }
}
@media (max-width: 540px) {
  .head {
    margin-bottom: 29px;
  }
  .sdiv {
    padding: 0 26px;
  }
  .head {
    font-size: 0.6875em;
    line-height: 2;
  }
  .para {
    font-size: 1em;
    line-height: 1.875;
  }
  .sec {
    padding: 60px 0 25px;
  }
  .sec h6 {
    font-size: 0.6875em;
    line-height: 2;
  }
  .txt1 {
    font-size: 1em;
  }
}
