.main_div {
}
.sec1 {
  max-width: 74.99vw;
  margin: 0 auto;
}
.head {
  max-width: 41.66vw;
  padding: 130px 0 93px;
}
.head h3 {
  font-size: 2.71vw;
  color: #000;
  margin-bottom: 22px;
  line-height: 1.28125;
  font-family: Sailec;
  letter-spacing: -1px;
  font-weight: 400;
}
.para p {
  font-size: 1.38vw;
  line-height: 1.875;
  font-weight: 400;
  font-family: Sailec, Arial, sans-serif;
}
.sec2 {
  padding-bottom: 117px;
  overflow: hidden;
}

.slide_div1 {
  padding-left: 12vw;
  width: 100% !important;
}
.slide_div2 {
  width: 78% !important;
}
.slide_div3 {
  width: 78% !important;
}
.slide_div1,
.slide_div2,
.slide_div3 {
  border: 1px solid green !important;
}

.slide_div2 img {
  width: 100%;
  border: 1px solid red;
}
.slide_div3 img {
  width: 100%;
  border: 1px solid red;
  /* padding-right: 7 00px; */
}
.slide_div1 p {
  width: 48% !important;
  font-size: 0.76em;
  line-height: 1.73;
  font-family: Sailec, Arial, sans-serif;
  border: 1px solid red;
  padding-top: 50px;
}
@media (max-width: 1140px) {
  .head h3 {
    font-size: 1.875em;
  }
  .para p {
    font-size: 1em;
  }
  .head {
    padding: 50px 0;
    max-width: 75vw;
  }
  .slide_div1 p {
    width: 95% !important;
  }
}

@media (max-width: 800px) {
  .sec1 {
    max-width: 100vw;
    padding: 0 26px;
  }
}

@media (max-width: 540px) {
  .head h3 {
    font-size: 1.6875em;
  }
  .para {
    font-size: 0.875em;
    line-height: 1.71429;
  }
  .head {
    max-width: 100vw;
  }
}
