.main_div {
  padding-top: 300px;
  width: 100%;
  height: 100%;
}
.sdiv {
  max-width: 74.99vw;
  margin: auto;
}
.sec1 h3 {
  font-family: Sailec;
  font-size: 3.9vw;
  font-weight: 400;
  letter-spacing: -2px;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.28125;
}
.txt {
  font-size: 1.38vw;
  max-width: 45.83vw;
  margin-bottom: 102px;
  overflow: hidden;
  font-family: Sailec, Arial, sans-serif;
}
.txt1 {
}
.txt2 {
}

@media (max-width: 1140px) {
  .txt {
    font-size: 1.125em;
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .txt {
    max-width: 100vw;
  }
}
@media (max-width: 540px) {
  .txt {
    font-size: 1em;
  }
}
