.main_div {
  width: 100%;
  height: 100%;
}
.fsec {
  padding-top: 300px;
}
.ssec {
  padding-top: 262px;
  display: flex;
  align-items: flex-end;
}
.tsec {
  padding: 255px 0 332px;
}
.tsec h3 {
  font-family: Sailec;
  font-size: 2.71vw;
  font-weight: 400;
  letter-spacing: -2px;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.28125;
  max-width: 58.33vw;
}
.sdiv {
  max-width: 74.99vw;
  margin: auto;
}
.sec1 h3 {
  font-family: Sailec;
  font-size: 4.23vw;
  font-weight: 400;
  letter-spacing: -2px;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.28125;
  overflow: hidden;
}
.txt {
  font-size: 1.38vw;
  max-width: 45.83vw;
  margin-bottom: 102px;
  font-family: Sailec, Arial, sans-serif;
}
.txt p {
  overflow: hidden;
}
.txt_div {
  overflow: hidden;
}
.head2 {
  font-size: 2.71vw;
  padding: 0 10vw 145px 0;
  margin-bottom: 0;
  letter-spacing: -2px;
  font-family: Sailec;
  font-weight: 400;
  color: #000;
  line-height: 1.28125;
  overflow: hidden;
}
.img_div {
  max-width: 48.12vw;
}
.img_div img {
  width: 100%;
  height: 100%;
}
.img_div1 {
  max-width: 31vw;
}
.img_div1 img {
  width: 100%;
  height: 100%;
}
.txt_div,
.txt_div1,
.txt_div2,
.txt_div3,
.txt_div4,
.txt_div5 {
  overflow: hidden;
}
@media (max-width: 1140px) {
  .txt {
    font-size: 1.125em;
    margin-bottom: 50px;
  }
  .sec1 h3 {
    font-size: 4.5vw;
  }
  .sdiv {
    max-width: 90vw;
    padding: 0 26px;
  }
  .fsec {
    padding-top: 0px;
  }
  .ssec {
    padding-top: 100px;
  }
  .tsec {
    padding: 100px 0 72px;
  }
}
@media (max-width: 800px) {
  .txt {
    max-width: 100vw;
  }
  .sec1 h3 {
    font-size: 2em;
  }
  .sdiv {
    max-width: 100vw;
  }
  .fsec {
    padding-top: 100px;
  }
  .img_div {
    max-width: 100%;
  }
  .head2 {
    font-size: 1.6875em;
    padding: 0 5vw 50px 0;
    letter-spacing: -0.7px;
  }
  .tsec h3 {
    font-size: 1.6875em;
    letter-spacing: -0.7px;
    max-width: 100%;
    padding-right: 20px;
  }
  .tsec h3 div {
    display: inline;
  }
}

@media (max-width: 540px) {
  .txt {
    font-size: 1em;
  }
  .img_div1 {
    max-width: 100%;
  }
  .head2 {
    padding-bottom: 50px;
  }
  .ssec {
    display: block;
  }
}
