.main_div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main_header {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-top: 53px;
  padding-right: 30px;
}
.main_logo {
  width: 65px;
}
.main_menu {
  overflow: hidden;
  position: absolute;
  right: 45px;
  height: 100%;
  /* margin-right: 15px; */
  margin-top: 7px;
  cursor: pointer;
}
.menu {
  width: 21px;
  height: 2px;
  background-color: red;
  display: block;
  margin-bottom: 4px;
}
.menu1 {
  position: relative;
  right: -7px;
  width: 21px;
  height: 2px;
  background-color: red;
  margin-bottom: 4px;
  display: block;
  transition: all 0.5s;
}
.menu2 {
  width: 21px;
  height: 2px;
  background-color: #ff4438;
  display: block;
}
.main_menu:hover .menu1 {
  right: 0;
}
.heading_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 55px;
  padding-top: 5px;
}
.heading {
  width: 70%;
  font-size: 5.1vw;
  font-family: "Sailec-Bold";
  font-weight: 600;
  color: #ff4438;
  padding-top: 50px;
}
.main_div_contact_indicator {
  position: fixed;
  right: 25px;
  bottom: 162px;
  font-family: "Sailec-lighter";
  transform: rotate(-90deg);
  z-index: 99;
  display: flex;
}
.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #ff4438;
}
/* .indicator_btn {
  border-radius: 50%;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
} */
.st1 {
  animation: blinkingText 0.8s linear infinite;
}
@keyframes blinkingText {
  0% {
    r: 65;
  }
  50% {
    r: 95;
  }
  75% {
    r: 65;
  }
  100% {
    r: 95;
  }
}
.contact_us {
  position: relative;
  color: gray;
  left: 20px;
}
/* media query */
@media only screen and (max-width: 1140px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .main_menu {
    overflow: hidden;
    height: 100%;
    margin-right: -5px;
    margin-top: 7px;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 30px;
  }
  .mainhead {
    align-items: flex-start !important;
  }
}
@media only screen and (max-width: 540px) {
  .heading_div {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-left: 23px;
    padding-top: 5px;
  }
  .heading {
    width: 80%;
    font-size: 10vw;
    line-height: normal;
    letter-spacing: -2.5px;
    font-family: "Sailec-Bold";
    color: #ff4438;
  }
  .main_div_contact_indicator {
    position: fixed;
    right: -10px;
    bottom: 162px;
    font-family: "Sailec-lighter";
    transform: rotate(-90deg) translateX(-100px);
    z-index: 99;
    display: flex;
  }
  .shead {
    width: 90vw;
  }
}
